header {
  padding: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}

header ul {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
}

header ul li a {
  color: white;
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
}